// Font
$text-primary: #0d0d0d;
$text-secondary: #606060;
$text-primary-inverse: #fff;

// Theme
$themed-red: #c00;
$general-background: #f9f9f9;
$brand-background: #fff;

// Interface
$line-divider: rgba(0, 0, 0, 0.1);
$standard-border-radius: 4px;