<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ubicación</th>
      <th>Órdenes</th>
      <th>Monto gastado</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
    <tr [routerLink]="['/users', user._id]">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.location }}, {{ user.region }}</td>
      <td>{{ userQuantities[$index].amountOfOrders }}</td>
      <td>{{ userQuantities[$index].totalReceived | currency }}</td>
    </tr>
    }
  </tbody>
</table>
