@import "../../styles/variables.scss";

.header {
  display: flex;
  padding: 12px 24px;
  width: 100%;
  min-width: 512px;
  background-color: $brand-background;
  color: $text-primary;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
  position: relative;

  .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  }
}
