<div>
  <form
    class="form"
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="page-header">
      <h1 class="page-title">Detalles de producto</h1>
      <button class="button" type="submit">Guardar</button>
    </div>

    <div class="details-section">
      <div class="left-col">
        <div class="input-container">
          <label for="sku">SKU</label>
          <input type="text" id="sku" formControlName="sku" />
        </div>
        <div class="input-container">
          <label for="category">Categoría</label>
          <input type="text" id="category" formControlName="category" />
        </div>
        <div class="input-container">
          <label for="name">Nombre</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div class="input-container">
          <label for="description">Descripción</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>
        <div formArrayName="features" class="input-container">
          <div class="features-section">
            <label for="features">Atributos</label>

            @for (feature of features.controls; track $index) {
            <div>
              <input
                id="features-{{ $index }}"
                type="text"
                [formControlName]="$index"
              />
              <button
                type="button"
                (click)="removeFeature($index)"
                class="remove-btn"
              >
                <span class="material-symbols-rounded"> remove </span>
              </button>
            </div>
            }
          </div>
          <button type="button" (click)="addFeature()" class="add-btn">
            <span class="material-symbols-rounded"> add </span>
          </button>
        </div>
      </div>

      <div class="sidepanel">
        <div class="input-container">
          <img
            [src]="productForm.get('image')?.value"
            alt="product image"
            width="326"
            height="326"
          />
          <label for="file">Imagen</label>
          <input
            type="file"
            id="file"
            accept="image/png"
            (change)="onFileSelected($event)"
          />
        </div>
        <div class="input-container">
          <label for="color">Color</label>
          <input type="text" id="color" formControlName="color" />
        </div>
        <div class="input-container">
          <label for="price">Precio</label>
          <input type="number" id="price" formControlName="price" />
        </div>
        <div class="input-container">
          <div class="inventory-section">
            <div formArrayName="sizes" class="col">
              <label for="sizes">Talle</label>
              @for (size of sizes.controls; track $index) {
              <div>
                <input
                  id="sizes-{{ $index }}"
                  type="text"
                  [formControlName]="$index"
                />
              </div>
              }
            </div>
            <div formArrayName="stock" class="col">
              <label for="stock">Stock</label>

              @for (stock of stock.controls; track $index) {
              <div>
                <input
                  id="stock-{{ $index }}"
                  type="number"
                  [formControlName]="$index"
                />
                <button
                  type="button"
                  (click)="removeSize($index)"
                  class="remove-btn"
                >
                  <span class="material-symbols-rounded"> remove </span>
                </button>
              </div>
              }
            </div>
          </div>
          <button type="button" (click)="addSize()" class="add-btn">
            <span class="material-symbols-rounded"> add </span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
