<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Stock</th>
      <th>Sold</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>
        <img
          [ngSrc]="'https://e-commerce.sebastiansanchis.com' + product.image"
          alt="product image"
          width="40"
          height="40"
        />
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>
        {{ productQuantities[i].stockQuantity }} in stock for
        {{ productQuantities[i].variantsQuantity }} variants
      </td>
      <td>{{ productQuantities[i].soldQuantity }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>
