<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ubicación</th>
      <th>Órdenes</th>
      <th>Monto gastado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers; let i = index">
      <td>{{ customer.firstName }} {{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.location }}, {{ customer.region }}</td>
      <td>{{ customerQuantities[i].amountOfOrders }}</td>
      <td>{{ customerQuantities[i].totalReceived }}</td>
    </tr>
  </tbody>
</table>
