@import "../../styles/variables.scss";

.navigation-drawer {
  width: 64px;
  height: 100%;
  border-right: 1px solid $line-divider;
  background-color: $brand-background;

  @media (min-width: 1280px) {
    width: 256px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .is-active {
    background-color: $general-background;
    color: $themed-red;

    &::after {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: $text-secondary;
    padding: 0 20px 0 16px;
    cursor: pointer;
    min-height: 48px;

    .icon-item {
      margin-left: 8px;
      margin-right: 24px;
    }

    .hidden {
      display: none;

      @media (min-width: 1280px) {
        display: inline-block;
      }
    }

    &::after {
      position: absolute;
      content: " ";
      left: 0;
      height: 48px;
      width: 4px;
      background-color: $themed-red;
      opacity: 0;
      transition: opacity 150ms linear;
    }

    &:not(.is-active):hover {
      background-color: $general-background;
    }
  }
}
